.itemDiv {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 5px 0px 5px rgba(116, 117, 130, 0.2), -5px 5px 2px rgba(116, 117, 130, 0.2);
    border-radius: 10px;
    height: auto;
    position: relative;
    margin: 0 2rem;
}

/*.heart {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    !*left: %;*!*/
/*    right: 0.5rem;*/
/*    display: none;*/
/*    z-index: 1000;*/
/*}*/

/*.posDiv {*/
/*    position: relative;*/
/*}*/

/*.heart {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0.5rem;*/
/*    display: none;*/
/*}*/

/*.posDiv:hover + .heart {*/
/*    display: block;*/
/*}*/

/*.heart {*/
/*    font-size: 2rem;*/
/*    color: red;*/
/*}*/

/*.heart:hover {*/
/*    display: block;*/
/*}*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content i {
    font-size: 2rem;
    color: red;
    cursor: pointer;
    transition: 0.5s;
}

.dropdown_content i:hover {
    transition: 0.5s;
    color: rgba(255, 0, 0, 0.57);
}

.dropdown_content {
    display: none;
    position: absolute;
    top: 0;
    right: 0.5rem;
    z-index: 1;
    width: 100%;
    text-align: end;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.itemDiv div  {
    width: 100%;
}

.itemDiv div a img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 35vh;
    transition: 0.5s;
    cursor: pointer;

}

/*.itemDiv div a img:hover {*/
/*    width: 100%;*/
/*    border-top-left-radius: 15px;*/
/*    border-top-right-radius: 15px;*/
/*    height: 35vh;*/
/*    opacity: 0.5;*/
/*    transition: 0.8s;*/
/*}*/

/*.itemDiv div a:hover + .heart {*/
/*    display: block;*/
/*}*/

.itemDiv h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding: 0.5rem 0;
}

.itemDiv h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #5D6473;
    padding: 0.3rem 0;
}

.itemDiv button {
    background: #3B0C3A;
    border-radius: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 0.8rem;
    transition: 0.5s;
}

.itemDiv button:hover {
    background: rgba(59, 12, 58, 0.68);
    border-radius: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 0.8rem;
    transition: 0.8s;
}

@media(max-width: 980px) {
    .itemDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 5px 0px 5px rgba(116, 117, 130, 0.2), -5px 5px 2px rgba(116, 117, 130, 0.2);
        border-radius: 10px;
        height: auto;
        position: relative;
        margin: 0 2rem;
    }
}

@media(max-width: 550px) {
    .itemDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 5px 0px 5px rgba(116, 117, 130, 0.2), -5px 5px 2px rgba(116, 117, 130, 0.2);
        border-radius: 10px;
        height: auto;
        position: relative;
        margin: 0 2rem;
    }
}