.cakesDiv {
    width: 100%;
    background: #FAD1DB;
    box-shadow: 5px 0px 5px rgba(116, 117, 130, 0.2), -5px 5px 2px rgba(116, 117, 130, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    z-index: -1;
}

.prevArrow {
    position: absolute;
    left: 52%;
    bottom: -2rem;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.prevArrow:hover {
    position: absolute;
    left: 52%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    background: #C4C4C4;
    transition: 0.8s;
}

.nextArrow {
    position: absolute;
    left: 45%;
    bottom: -2rem;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.nextArrow:hover {
    position: absolute;
    left: 45%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    background: #C4C4C4;
    transition: 0.8s;
}

.productMain {
    position: relative;
    height: 50vh;
    width: 90%;
    margin: 3rem 0;
    padding-top: 3rem;
}

.sliderFlex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.position {
    position: absolute;
    top: -3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.position img {
    width: 80%;
    height: 40vh;
    box-sizing: border-box;
    border-radius: 50%;
}

.position h3 {
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.14em;
    color: #000000;
    margin-top: 3rem;
}

.ourCakes {
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.ourCakes h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #FF698D;
}

.ourCakes p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 190.88%;
    letter-spacing: 0.015em;
    color: #000000;
}

@media (max-width: 921px) {


    .prevArrow {
        position: absolute;
        left: 52%;
        bottom: 30%;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        padding: 1rem 1.5rem;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.5s;
    }

    .nextArrow {
        position: absolute;
        left: 40%;
        bottom: 30%;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        padding: 1rem 1.5rem;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.5s;
    }

    .cakesDiv {
        width: 100%;
        background: #FAD1DB;
        box-shadow: 5px 0px 5px rgba(116, 117, 130, 0.2), -5px 5px 2px rgba(116, 117, 130, 0.2);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
        z-index: -1;
    }

    .position img {
        width: 80%;
        height: 18vh;
        box-sizing: border-box;
        border-radius: 50%;
    }

    .ourCakes {
        margin-top: 3rem;
        margin-bottom: 0;
    }

    .productMain {
        position: relative;
        height: 50vh;
        width: 95%;
        margin: 5rem 0 0 0;

    }

}

@media (max-width: 600px) {
    .nextArrow {
        display: none;
    }

    .prevArrow {
        display: none;
    }

    .cakesDiv {
        width: 100%;
        background: #FAD1DB;
        box-shadow: 5px 0px 5px rgba(116, 117, 130, 0.2), -5px 5px 2px rgba(116, 117, 130, 0.2);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70%;
        z-index: -1;
    }

    .position img {
        width: 80%;
        height: 28vh;
        box-sizing: border-box;
        border-radius: 50%;
    }

    .ourCakes {
        margin-top: 3rem;
        margin-bottom: 0;
    }

    .productMain {
        position: relative;
        height: 50vh;
        width: 100%;
        margin: 3rem 0;
        padding-top: 0;
    }
}