.main {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
}

.main div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main div span {
    background: #FF3333;
    width: 8rem;
    height: 8rem;
    padding: 1.5rem;
    border-radius: 50%;
}

.main div i {
    color: #FFFFFF;
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.main div h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 54px;
    color: #000000;
}

.main div p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 51px;
    color: #000000;
}